.nav-link {
    transition: background .175s ease-in-out;
}

.nav-link > svg > path {
    transition: fill .175s ease-in-out;
}

.selected-nav {
    background: white!important;
}

.selected-nav > svg > path{
    fill: black;
}

footer {
    transition: height .5s ease-out;
}

footer.disabled {
    height: 0;
}